body {
  background-color: #282c33;
}

i {
  color: white;
}

.margin-bottom-add-2rem {
  margin-bottom: 2rem;
}

.nav-bar-style {
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 1.5rem;
  color: white;
  font-family: "Zen Kurenaido", "Courier New", Courier, monospace;
}

.logo-styling-remove {
  text-decoration: none;
  color: #f39323;
}

.logo-style {
  position: relative;
  top: 0.75rem;
  left: 0.5rem;
  height: 4.5rem;
}

.logo-holder {
  color: #f39323;
  font-size: 3.5rem;
  margin: 0;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.fa-bars-style {
  position: absolute;
  color: white;
  top: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-location-dot {
  margin-left: 1rem;
  cursor: pointer;
}

.fa-quote-left-style,
.fa-quote-right-style {
  color: lightgray;
  margin: 0 0.5rem;
}

.team-desciption {
  color: white;
  font-family: "Fira Code", sans-serif;
  word-spacing: 0.5rem;
  padding: 0 3rem;
  margin: 1rem 0;
  font-size: 1.75rem;
}

.team-img-holder {
  margin: 1rem 0;
}

.team-img-holder img {
  width: 100%;
}

.events-holder {
  border: 2px solid white;
  width: 20rem;
  margin: auto;
}

.events-header {
  border-bottom: 2px solid white;
  padding: 1rem;
  color: #abb2bf;
  font-family: "Fira Code", sans-serif;
  font-size: 1rem;
}

.events {
  padding: 1rem;
  padding-top: 0;
  color: white;
  font-family: "Fira Code", sans-serif;
}

.events h5 {
  margin: 0.25rem 0;
  color: #abb2bf;
}

footer {
  color: #abb2bf;
  margin-top: 5rem;
  font-size: 0.75rem;
}

.crow-facts {
  margin: auto;
  margin-top: 2rem;
  width: 25rem;
  border: 2px solid white;
  font-family: "Fira Code", sans-serif;
  color: white;
  padding: 1rem;
}

.crow-facts p {
  margin: 0;
}

.crow-facts h4 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.crow-facts h3 {
  text-align: right;
  margin: 0;
}

.social-media {
  color: white;
  position: absolute;
  top: 2rem;
  left: 0.25rem;
}

.vertical-line {
  border-left: 2px solid white;
  height: 20rem;
  margin-left: 0.85rem;
}

.horzontial-line {
  background-color: #f39323;
  height: 5px;
  border: none;
  position: relative;
  bottom: 3.25rem;
  z-index: 1;
}

.social-media div i {
  margin: 0.25rem 0;
}

.fa-discord-style {
  position: relative;
  right: 0.25rem;
}

.sidebar-holder {
  color: white;
  font-family: "Zen Kurenaido", sans-serif;
  margin: 0;
}

.sidebar-holder ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.sidebar-holder ul > li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.sidebar-holder ul li > a {
  text-decoration: none;
  color: white;
}

.player-card-holder {
  background-color: #808080;
  text-align: center;
  margin: 1rem 0;
  border-radius: 8px;
  max-width: 30rem;
  max-height: 30rem;
  margin-bottom: 6rem;
}

.player-card-image-holder {
  margin: 0;
  max-width: 30rem;
  max-height: 30rem;
}

.player-card-image-holder img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
  padding: 1.5rem;
  padding-bottom: 5rem;
}

.player-card-container {
  margin: 0 3rem;
}

.player-card-text-holder {
  background-color: black;
  font-family: Inter, sans-serif;
  border-radius: 10px 10px 0 0;
  padding-bottom: 0.25rem;
  position: relative;
  bottom: 3rem;
}

.player-card-text-holder h1 {
  margin: 0;
  position: relative;
  right: 2rem;
}

.player-card-name-style {
  color: #dee2e6;
}

.player-card-number-style {
  color: #f39323;
  right: 1.75rem;
  font-size: 2rem;
}

.player-card-nickname-style {
  color: #dee2e6;
  position: relative;
  bottom: 1rem;
}

.section-title-style {
  color: #f39323;
  font-size: 3rem;
  margin-left: 3rem;
  margin-bottom: 0;
}

.section-title-style-text {
  font-family: "Fira Code", sans-serif;
  background-color: #282c33;
  color: white;
  position: relative;
  padding-right: 2rem;
  z-index: 2;
}

.caw {
  margin-left: 4rem;
  color: white;
  font-size: 2rem;
}

.orange {
  color: #f39323;
}

.copyright-style {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.section-text-holder {
  color: white;
  margin-left: 4rem;
  border: solid white;
  padding: 0 1rem;
  margin-bottom: 3rem;
  width: 100%;
}

.section-text-title {
  font-size: 1.5rem;
  border-bottom: solid white;
}

.section-text-content {
  font-size: larger;
}

.contact-text-holder {
  color: white;
  border: solid white;
  text-align: center;
  margin: 0 4rem;
}

.contact-text-holder h1,
.contact-text-holder h4, {
  margin: 0;
}

.schedules-text-holder {
  color: white;
  text-align: center;
}

.schedules-text-holder table {
  margin: auto;
  margin-bottom: 2rem;
}

.schedules-text-holder table thead {
  position: relative;
  right: 3rem;
}

.schedules-text-holder table th {
  font-size: 1.5rem;
  border-bottom: solid white;
}

.schedules-text-holder table td {
  padding: 0 2rem;
}

.logo-circle {
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  color: #282c33;
}

.oc-ulti {
  width: 3.5rem;
}

.text-center {
  text-align: center;
}

.zamin-img-holder img {
  width: 13rem;
}

.margin-sides-4rem {
  margin: 1rem 4rem;
}

.contact-form-holder-styles {
  color: white;
  text-align: center;
  padding: 1rem;
}

.contact-form-styles input,
.contact-form-styles textarea {
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  background: transparent;
  border: 3px solid gray;
  color: white;
  transition: 1s;
}

.contact-form-styles textarea {
  height: 8rem;
}

.contact-form-styles input::placeholder,
.contact-form-styles textarea::placeholder {
  color: gray;
}

.contact-form-input-styles {
  width: 100%;
}

.submit-button:hover {
  border: 3px solid #f39323;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .logo-holder {
    font-size: 4rem;
  }

  .player-card-number-style {
    right: 2rem;
    font-size: 3rem;
  }

  .player-card-name-style {
    font-size: 2rem;
  }

  .player-card-nickname-style {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .social-media {
    top: 2rem;
    left: 1rem;
  }

  .player-card-number-style {
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2.5rem;
  }

  .player-card-name-style {
    font-size: 1.5rem;
  }

  .player-card-nickname-style {
    font-size: 1rem;
  }

  .zamin-img-holder img {
    width: 15rem;
  }
}

@media screen and (min-width: 800px) {
  .caw {
    margin-left: 4rem;
    color: white;
    font-size: 3rem;
  }

  .sidebar-holder ul {
    margin-left: 4rem;
  }

  .sidebar-holder ul > li {
    font-size: 1.5rem;
    margin: 0 0.25rem;
  }
}

@media screen and (min-width: 1000px) {
  .zamin-img-holder img {
    width: 20rem;
  }

  .caw {
    margin-left: 10rem;
    font-size: 3rem;
  }

  .sidebar-holder ul {
    margin-left: 8rem;
  }

  .sidebar-holder ul > li {
    font-size: 1.75rem;
    margin: 0 0.5rem;
  }

  .player-card-number-style {
    right: 2rem;
    top: 0.5rem;
    font-size: 3rem;
  }

  .player-card-name-style {
    font-size: 2rem;
  }

  .player-card-nickname-style {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1500px) {
  .social-media {
    top: 2rem;
    left: 10rem;
  }
}
